.productsFind__wrapper {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.productsFind__title {
  /* border-bottom: 1px solid var(--border-color); */
  height: 20px;
}

.productsFind__title-text {
  color: var(--blue);
  font-weight: 600;
}

.productsFind__content {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
