.productdtl__wrapper {
  height: auto;
  width: 1270px;
  margin: auto;
}

.productdtl {
  margin-top: 20px;
}

.productdtl__title {
  color: var(--blue);
  font-weight: 600;
}

.productdtl__info {
  margin-top: 15px;
}

.productdtl__info-title {
  line-height: 35px;
  color: var(--blue);
  font-weight: 500;
}

.productdtl__countdown {
  height: 35px;
  display: flex;
  align-items: center;
}

.productdtl__loading {
  width: 1270px;
  margin: auto;
  margin-top: 20px;
}
