.footer__wrapper {
  width: 1270px;
  margin: auto;
  margin-top: 50px;
  border-top: 1px solid var(--border-color);
  height: 38vh;
  padding-top: 30px;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--blue);
}

.footer__list {
  margin-top: 10px;
}

.footer__list ul li {
  list-style: none;
}

.footer__list-item {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 3px;
  cursor: pointer;
}
